################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/CopilotIndices/17.14.1431.25910/CodeChunks.db
/ConsoleApp1/.vs/ConsoleApp1/CopilotIndices/17.14.1431.25910/SemanticSymbols.db
/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/82d45ca0-c816-4374-9df9-b992cabd1283.vsidx
/ConsoleApp1/.vs/ConsoleApp1/v17/.futdcache.v2
/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.backup.json
/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.json
/ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.metadata.v9.bin
/ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.projects.v9.bin
/ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.strings.v9.bin
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.deps.json
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.exe
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.pdb
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.runtimeconfig.json
/ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/apphost.exe
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.CoreCompileInputs.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.genruntimeconfig.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GlobalUsings.g.cs
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.pdb
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.sourcelink.json
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ref/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/refint/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/obj/project.assets.json
/ConsoleApp1/ConsoleApp1/obj/project.nuget.cache
/ConsoleApp1/ConsoleApp1.sln
/SocialMedia/.gitignore
/SocialMedia/Infrastructure/Migrations/20251211204345_init.cs
/SocialMedia/Infrastructure/Migrations/20251211204345_init.Designer.cs
